.alterar-info {
    flex-direction: column;
}

.usuario-info {
    background-color: #222;
    padding: 1.2rem;
    border-radius: 5px;
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.usuario-info li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}