.cadastro {
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
}

.cadastro form {
    flex-direction: column;
}

.cadastro-container {
    margin: 1rem;
}

.cadastro-shield {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.cadastro-shield input {
    border-radius: 0.2rem;
    border: none;
    padding: 0.25rem;
}