.cadastro {
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
}

.cadastro form {
    flex-direction: column;
}

.cadastro-container {
    margin: 1rem;
}

.cadastro-shield {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.cadastro-shield input {
    border-radius: 0.2rem;
    border: none;
    padding: 0.25rem;
    width: 11rem;
    height: 1.8rem;
    font-size: 1rem;
}
.cadastro-shield input:focus {
    outline: none;
    box-shadow: 0 0 6px #beddff;
    border: 2px solid #ffffff;
}

.sumir {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.alert {
    color: rgb(204, 220, 255);
    background-color: #41414194;
    backdrop-filter: blur(1.5rem);
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.23s ease, visibility 0.5s ease;
}

.alert-container {
    background-color: #414141;
    border-radius: 0.8rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 1px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 14rem;
    flex-direction: column;
}

.alert-container p {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    background-color: #686868;
    padding: 1.5rem;
    border-radius: 0.3rem;
}

.alert-container div button {
    margin-top: .3rem;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.notificacao-cadastro {
    position: absolute;
    top: 8rem;
    right: 2.5rem;
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.8rem;

    background-color: #00ff55;
    color: black;
}

.notificacao-erro {
    position: absolute;
    top: 12rem;
    right: 2.5rem;
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.8rem;

    background-color: #ff5b5b;
    color: black;
}

#botao {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

#botao:hover {
    background-color: #555;
}