<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% if show_navbar %}
    <nav class="navbar d-flex">
        <div class="navbar-brand d-flex-center">
            <a href="/home">Biblioteca</a>
        </div>
        <ul class="navbar-links d-flex-center">
            <li class="navbar-item"><a href="/cadastro">Cadastro</a></li>
            <li class="navbar-item"><a href="/buscar">Buscar</a></li>
            <li class="navbar-item"><a href="/cadastrar_usuario">Cadastrar usuario</a></li>
        </ul>
        <div class="navbar-login d-flex-center">
            <a href="/usuario" class="bi bi-person-fill"></a>
        </div>
    </nav>
    {% endif %}
    <main class="conteudo">
        {% block content %}{% endblock %}
    </main>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>