{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="cadastro d-flex-center">
    <h2>Cadastro usuario:</h2>
    <form class="d-flex-center" action="/cadastrar_usuario" method="post" id="submit">
        <div class="d-flex-center">
            <div class="cadastro-container">
                <div class="cadastro-shield">
                    <label for="">Nome</label>
                    <input type="text" name="Nome" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Email</label>
                    <input type="text" name="Email" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Telefone</label>
                    <input type="text" name="Telefone" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Data de nascimento</label>
                    <input type="text" name="Data_nascimento" required>
                </div>
            </div>
            <div class="cadastro-container">
                <div class="cadastro-shield">
                    <label for="">CPF</label>
                    <input type="text" name="CPF" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Senha</label>
                    <input type="text" name="Senha" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Confirmar Senha</label>
                    <input type="text" name="c_Senha" required>
                </div>
                <div class="cadastro-shield">
                    <label for="">Nivel de acesso</label>
                    <input type="text" name="lvl_acess" required>
                </div>
            </div>
        </div>
    </form>
    <button id="botao">Cadastrar</button>
    {% if msg == True %}
    <p class="notificacao-cadastro d-flex-center">Usuario cadastrado!</p>
    {% elif msg == False %}
    <p class="notificacao-erro d-flex-center">Houve um erro!</p>
    {% endif %}
    <div class="sumir" id="meuAlert">
        <div class="alert-container">
            <p>Você irá criar um usuario deseja continuar?</p>
            <div class="d-flex-center">
                <button onclick="fecharAlert()" value="confirmar" name="confirmacao" form="submit">Sim</button>
                <button onclick="fecharAlert()" value="negar" name="negado">Não</button>
            </div>
        </div>
    </div>

    <script>
        const botao = document.getElementById('botao');
        const meuAlert = document.getElementById('meuAlert');
        const fecharAlert = () => {
            meuAlert.classList.add('sumir');
        }
        const submit = document.getElementById('submit');

        botao.addEventListener('click', function () {
            meuAlert.classList.remove('sumir');
            meuAlert.classList.add('alert');
        });
    </script>
    {% endblock %}