{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}

<style>

</style>
<div>
    <ul class="usuario-info">
        <li>Usuario: {{ usuario.nome }}</li>
        <li>Cracha: {{ usuario.id }}</li>
        <li>Email: {{ usuario.email }}</li>
        <li>Data de Nascimento: {{ usuario.data_nascimento }}</li>
        <li>CPF: {{ usuario.cpf }}</li>
        <li>Telefone: {{ usuario.telefone }}</li>
        <li>Nível de acesso: {{ usuario.nivel_acesso }}</li>
    </ul>
</div>


    {% endblock %}